$color-1: #0d2b3d;
$color-2: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: $color-1;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  @for $i from 1 through 3 {
    .card:nth-child(#{$i}) {
      width: 300px;
      height: 200px;
      perspective: 1000px;
      cursor: pointer;
  
      .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
  
        &:hover {
          transform: rotateY(180deg);
        }
  
        .card-front,
        .card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        }
  
        .card-front {
          background-color: $color-2;
        }
  
        .card-back {
          background-color:  $color-2;
          transform: rotateY(180deg);
  
          h3 {
            padding: 1rem;
            background:  salmon;
            text-align: center;
            color: $color-2;
          }
  
          p {
            padding: 1rem;
          }
        }
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  